* {
    box-sizing: border-box;
}

main {
    width: 1366px;
    height: 2000px;
}

header {
    width: 1366px;
    height: 200px;
    text-align: center;
    background-color: burlywood;
    background-image: url(../images/backgorundescription02.avif);
}

.titulodescripcion {
    text-align: center;
    font-family: "Sofadi One", system-ui;
    background-image: url(../images/backgorundescription02.avif);
}

.textodescripcion {
    text-align: center;
    font-family: "SUSE", sans-serif;
    background-image: url(../images/backgorundescription02.avif);
}

.principal {
    background-color: rgb(64, 80, 133);
    width: 1366px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.secundaria {
    background-color: rgb(64, 80, 133);
    width: 1366px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    background-color: rgb(191, 173, 255);
    padding: 15px;
    line-height: 50px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    background-color: darkkhaki;
    transform: scale(1.2);
}

section {
    width: 1366px;
    height: 1500px;
    background-image: url(../images/backgorundescription02.avif);

}

.personaje {
    width: 1300px;
    height: 350px;
    margin-left: 33px;
    margin-top: 20px;

}

.foto {
    width: 400px;
    height: 350px;
    float: left;
    margin-left: 33px;
    margin-top: 20px;
    text-align: center;
    border-bottom: brown;

}

.foto img {
    height: 100;
}

.texto {
    width: 800px;
    height: 250px;
    float: left;
    margin-left: 33px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 173, 255, 0.733);
    font-family: "Sofadi One", system-ui;
    
    
}

.texto a {
    color: beige;
    text-decoration: none;
}

footer {
    width: 1366px;
    height: 1150px;
    background-color: rgb(64, 80, 133);
}
.tituloubicacion{
    text-align: center;
    font-family: "Sofadi One", system-ui;
    background-color: rgb(191, 173, 255);
}
.textoubicacion{
    text-align: center;
    font-family: "Sofadi One", system-ui;
    background-color: rgb(191, 173, 255);
}
.mapa{
    text-align: center;
    align-items: center;
}
.merch{
    font-family: "Sofadi One", system-ui;
    text-align: center;
    background-color: rgb(191, 173, 255);
}
.textomerch{
    font-family: "Sofadi One", system-ui;
    text-align: center;
    background-color: rgb(191, 173, 255);
}
.imagenmerch{
    align-content: center;
    text-align: center;
    align-items: center;
}
.comentarios{
text-align: center;
font-family: "Sofadi One", system-ui;
}
.seccioncomentarios{
    text-align: center;
    font-family: "Sofadi One", system-ui;
}
.textocomentario{
    font-family: "Sofadi One", system-ui;
    text-align: center;
}